form {
    padding: 2rem;
    background-color: #fbfbfb;
    border-radius: 8px;
    min-width: 900px;
    box-shadow: 0 0 6px #00000030;
}

form .form-body,
.form-header,
.form-footer {
    padding: 1rem 0;
}

form .form-header .tabs {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    color: #717171;
}

form .form-header .tabs .tab {
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
}

form .form-header .tabs .tab::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 0;
    bottom: -4px;
    left: 0;
    background-color: #c6c9cd;
}

form .form-header .tabs .tab:hover::after {
    width: 100%;
}


form .form-header .tabs .tab.active {
    font-weight: 600;
    color: var(--blue-600);
}

form .form-header .tabs .tab.active::after {
    background-color: var(--blue-600);
    width: 100%;
}

form .form-body section#variations {
    display: none;
}

form h2 {
    font-weight: 600;
    color: #212121;
}

form h3 {
    font-weight: 400;
    color: #717171;
    margin: 0.5rem 0;
}

form hr {
    margin: 1rem 0;
    height: 1px;
    background-color: #dee2e6;
    border: none;
}

.input-box {
    margin-bottom: 1.5rem;
    flex: 1;
}

.text-input {
    background-color: #fff;
    color: #717171;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #dee2e6;
    border-radius: 8px;
    min-width: 250px;
    padding-left: 0.5rem;
}

.input-box input {
    padding: 0.5rem 1.25rem 0.5rem 0;
    font-size: 0.875rem;
    color: #212529;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

label {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

textarea {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 2px solid #dee2e6;
    background-color: #fff;
    outline: none;

    font-size: 0.875rem;
    font-weight: 400;
    resize: vertical;
    min-height: 80;
    width: 100%;
}

.text-input:focus-within,
textarea:focus,
.custom-select select:focus {
    border-color: var(--blue-600) !important;
}

.checkbox-container {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.mult-inputs {
    display: flex;
    gap: 1rem;
}

.next-step {
    position: relative;
    float: right;
}

.previous-step {
    position: relative;
    float: left;
}

.custom-select {
    position: relative;
    min-width: 350px;
}

.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #fff;
    border: 2px solid #dee2e6;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.invalid-input {
    border-color: rgb(198, 62, 62);
}

.error-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2px 0;
    color: #fff;
    font-size: 0.875rem;
    border: 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid red;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #d86868;
}