:root {
    --blue-600: #2f55d4;
    --blue-500: #009de1;
    --blue-300: #def5ff;
    --blue-100: #ebeffb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}