:root {
    --blue-700: #114f7f;
    --blue-600: #176aaa;
    --blue-500: #009de1;
    --blue-300: #DDE4F8;
    --blue-100: #ebeffb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    padding: 3rem 6rem;
    color: #1a1a1e;
    background-color: #f6f8f9;
}