.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    background-color: #fbfbfb;
}

.header.active {
    box-shadow: 8px 8px 16px #2121213b
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    color: #1a1a1e;
}

.header .logo img {
    height: 50px;
}

.header nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1rem;
}

.header nav ul li {
    position: relative;
    transition: all .2s ease;
}

.header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.25rem;
    color: #1a1a1e;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.header nav ul li a:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blue-500);
    transition: all .2s ease;
}

.header nav ul li a.active {
    border-bottom: 4px solid var(--blue-500);
}

.header nav ul li a:hover::after {
    width: 100%;
}

.sidebar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 300px;
    height: 1000vh;
    background-color: #fbfbfb;
    box-shadow: 2px 0px 16px #21212185;
    padding: 1rem;
    transition: all .4s cubic-bezier(0.09, 0.25, 0.18, 0.97);
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #1a1a1e;
    border-radius: 12px;
}


.sidebar ul li a:hover {
    background-color: #ebeffb;
}

.open-sidebar {
    display: none;
}

.close-sidebar {
    display: block;
    margin-left: auto;
}

.open-sidebar,
.close-sidebar {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0.6rem;
    border-radius: 12px;
    transition: all .2s ease;
}

.open-sidebar:hover,
.close-sidebar:hover {
    background: #ebeffb;
}

@media (max-width: 768px) {
    .open-sidebar {
        display: block;
    }

    .header nav {
        display: none;
    }

    .header .container {
        flex-direction: row-reverse;
        padding: 1.5rem 2rem;
    }
}