main {
    display: flex;
    align-items: center;
    min-height: 400px;
}

main aside {
    width: 55%;
}

main aside .presentation-text h2 {
    font-size: 4rem;
    font-weight: 800;
}

main aside .presentation-text h2 span {
    color: var(--blue-700);
    margin-bottom: 1rem;
}

main aside .presentation-text h3 {
    font-size: 2.5rem;
    font-weight: 400;
}

main aside .presentation-text p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #717171;
    margin: 4rem 0;
}

main .presentation-container {
    flex: 1;
}

main .presentation-container img {
    width: 100%;
}